.game-panel-container {
  position: relative;
}

.game-panel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-panel-player1-dashboard-container,
.game-panel-player2-dashboard-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.game-panel-board {
  position: relative;
  width: 550px;
  height: 500px;
  background-color: #2655d6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 7px 3px #bbb;
}

.game-panel-base {
  position: absolute;
  left: -30px;
  bottom: -53px;
  width: 610px;
  height: 56px;
  background-color: #204dc8;
  clip-path: polygon(5% 0%, 95% 0%, 99% 100%, 1% 100%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.game-panel-left-side-base,
.game-panel-right-side-base {
  position: absolute;
  width: 25px;
  height: 50px;
  background-color: #204dc8;
}

.game-panel-left-side-base {
  left: -24px;
  bottom: -28px;
  transform: skewY(-64deg);
}

.game-panel-right-side-base {
  right: -24px;
  bottom: -28px;
  transform: skewY(65deg);
}

.player-container {
  position: absolute;
  display: flex;
  justify-content: center;
}
