.finish-game-container {
  width: 350px;
  height: 290px;
  background-color: #fbc02d;
  border: 3px solid #470b40;
  border-radius: 8px;
  padding: 20px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
}

.player-close-btn {
  position: absolute;
  top: 20px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #470b40;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.player-close-btn:hover {
  transform: scale(1.07);
}

.finish-game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin-top: 50px;
}

p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #470b40;
  text-align: center;
  margin: 0;
}

h2 {
  margin-top: 10px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #470b40;
}

.finish-game-separator {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-top: 2px solid #470b40;
}

.finish-game-restart {
  position: relative;
  width: 300px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #fbc02d;
  padding: 10px 20px;
  border: 3px solid #470b40;
  transition-duration: 0.3s;
  margin-top: 50px;
  cursor: pointer;
}

.finish-game-restart::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 10px;
  width: 4px;
  height: 4px;
  background: white;
  box-shadow: 3px 3px #d4f4ff;
}
.finish-game-restart span {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #470b40;
  position: relative;
  transition-duration: 0.3s;
}

.finish-game-restart:hover {
  background-color: #470b40;
  color: #fbc02d;
  transform: scale(1.07);
  transition-duration: 0.3s;
}

.finish-game-restart:hover span {
  color: #fbc02d;
}
