.timer {
  display: inline-block;
  width: fit-content;
  font-size: 3rem;
  font-family: 'Anton', 'Arial Black', cursive, sans-serif;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(0deg, #bf360c, #fbc02c);
  padding: 10px 40px;
  border-radius: 16px;
  text-align: center;
  margin: 20px auto;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 8px #000a;

}

.timer.zero {
  background-color: #dc3545; /* vermelho quando chega a 0 */
}