.timer-container {
  position: absolute;
  top: 315px;
  background-color: #602c5a;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  width: 100px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #470b40;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.timer-container::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 5px;
  width: 4px;
  height: 4px;
  background: white;
  box-shadow: 3px 3px #d4f4ff;
}

.timer-text {
  animation: blink-color 1s infinite;
  font-weight: bold;
}

@keyframes blink-color {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}

.timer-container-show {
  animation: blink-container 1s infinite;
}

@keyframes blink-container {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}
